# Django Settings
SECRET_KEY=votre_cle_secrete_django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,votre-backend-render.onrender.com

# Database - PostgreSQL
DB_NAME=ecommerce
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe_postgres
DB_HOST=localhost
DB_PORT=5432

# CORS Configuration
CLIENT_URL=http://localhost:3000

# Default Admin Credentials for DB Seeding
ADMIN_EMAIL=bradelakwayi027@gmail.com
ADMIN_PASS=Kwayi2008
